<?php
?>

<!--@subject GDPR "Right To Be Forgotten" - Account Deletion Notice @-->

{{template config_path="design/email/header_template"}}
<p>
    This customer has requested the deletion of their account and the anonymization of any related personal data.

    Their Magento account has automatically been deleted and all personally identifying data in orders, shipments, invoices, etc. have been anonymized.

    Please request Google, Bing, Facebook, and any other ad and analytics data processors delete analytics data pertaining to this customer.

    This e-mail also contains personally identifying information for this customer and must be deleted once the request has been fulfilled.
</p>

<p>
    <strong>Customer Information</strong>
    Name: {{var name}}
    Customer Id: {{var customerId}}
</p>

{{template config_path="design/email/footer_template"}}
